<h1><%= t("title.user_session.new", :default => "Login") %></h1>

<% form_for @user_session, :url => user_session_path do |f| -%>
  <p>
    <%= f.submit t("submit.easy_login", :default => "Easy Login") %>
  </p>
<% end -%>

<% form_for @user_session, :url => user_session_path do |f| -%>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.submit t("submit.login", :default => "Login") %>
  </p>
<% end -%>

<p>
  <%= link_to t("linkname.user.new"), new_user_path %>
</p>

<p>
  <%= mobile_position_link_to(:controller => :locations, :action => :main) %>
  <%#= mobile_position_link_to(:controller => Mobile::Position::Config.locations["controller"], :action => Mobile::Position::Config.locations["action"]) %>
</p>